/******+++++++++++++++++++++++HEADER***++++++++++++++++++***/
.welcome{
    /*background: url(../images/finished-city-wh-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    background-color: rgba(120,207,245,0.3);*/
    width: 100%;
    height: 100vh;
    overflow: hidden; 
}
.img{
    background-image: url(../images/finished-city-wh-back.png);
    position: absolute;
    width: 100%;
    height: 100vh;
}
canvas{
    background: #000;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100vh;

}
.vertical{
    width: 2px;
    background: #fff;
    box-sizing: content-box;
    margin: 0 15px;
    height: 170px;
}
.intro-header h1{
    display: inline-block;
    font-size: 55px;
    font-family: "Abril Fatface", "serif";
}

