/******+++++++++++++++++++++++VARIABLES***++++++++++++++++++***/
$absolute:absolute;
$table:table;
$table-cell:table-cell;
$margin-titles: 100px 0;
/******+++++++++++++++++++++++HEADER***++++++++++++++++++***/
.navbar-right li:hover{
    text-decoration: line-through;
    color:#fff;
}
/******+++++++++++++++++++++++GENERAL***++++++++++++++++++***/
*{
    outline: 1px solid rgba(0,255,0,0.3);
    font-family: "Montserrat";
}
header{
    position: relative;
    z-index: 100;
    margin: 10px 0;
}
.btn_press{
   background-color: rgba(0,0,0,0.0);
    border-radius: none;
    border: 1px solid #fff;
    padding: 12px 15px;
    margin-left: 25px;
}
.btn_press:hover{
    background-color: #fff;
    color:rgba(69,60,179,0.9);
}
/******+++++++++++++++++++++++STRUCTURE***++++++++++++++++++***/
.info-projects{
    background: #fff;
}
section, .middle-structure
{
    background: rgba(0,0,0,0.3);
    position: $absolute;
    top: 0;
    left: 0;
    height: 100%;    
    opacity: 0;
    color: #fff;
}
/********width**********/
section{
    width: 100%;
    display: none;
}
.middle-structure{
    width: 50%;
    display: $table;
    padding: 0 30px;
}

.visible{
    display: $table;
    opacity: 1;
}
.content, .middle-structure-info{
    display: $table-cell;
    vertical-align: middle;
}
/**********************/
.-about h2, .-skills h2, .-projects h2{
    font-family: "Abril Fatface";
    font-size: 50px;
    letter-spacing: 3px;
}
.hor{
    display: block;
    width: 70px;
    margin: 25px 0;
}
/******+++++++++++++++++++++++ABOUT-ME***++++++++++++++++++***/
.likes{
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 2px solid #fff;
    transition: all .2s ease-in-out; 
}
.likes:hover{
    transform: scale(1.1);
    background: #ff0;
}
.likes i{
    font-size: 30px;
}
.likes_about_me{
    margin: 0 30px;
}
.likes_about_me h3{
    background: #fff;
    color: rgb(69,60,179);
}

/******+++++++++++++++++++++++SKILLS***++++++++++++++++++***/
.img_logo_skills{
    width: 110px;
    height: 110px;
    display: inline-block;
    border: 1px solid #fff;
}
.-html:hover{
    background-color: #f9841f;
}
.-css:hover{
    background-color: #076ff7;
}
.-js:hover{
    background-color: rgb(247,223,30);
}
.-jq:hover{
    background-color: rgb(120,207,245);
}
.-boot:hover{
    background-color: rgb(100,65,147);
}
.-sass:hover{
    background-color: rgb(205,102,154);
}
/******+++++++++++++++++++++++PROJECTS***++++++++++++++++++***/
.middle-structure-projects{
    width: 100%;
    display: $table;
    padding: 0 30px;
}
.projects li{
    padding: 30px 0;
}
.img-projects-github{
    margin: 25px;
}
.layer img{
    transition:box-shadow 2s, transform 250ms, filter 250ms ease-in-out;
    opacity: 0.6;
    filter: alpha(opacity=80);
}
.layer img:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 8px rgba(0,0,0,0.6);
}
/******+++++++++++++++++++++++STYLES***++++++++++++++++++***/
.welcome{
    background: url(../images/1rst%20demo%20city.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    width: 100%;
    height: 100vh;
}
.vertical{
    width: 2px;
    background: #fff;
    box-sizing: content-box;
    margin: 0 15px;
    height: 130px
}
.intro-header h1{
    display: inline-block;
    font-size: 45px;
}
/******+++++++++++++++++++++++CONTACT-ME***++++++++++++++++++***/
.middle-structure-contacts{
    width: 33.33%;
    display: $table;
    padding: 0 30px;
}
.middle-structure-right-contacts{
    width: 33.33%;
    display: $table;
    padding: 0 30px;
}

/******+++++++++++++++++++++++QUERIES***++++++++++++++++++***/
@media (max-width:767px)
{
    .middle-structure, .middle-structure-contacts{
        width: 100%;
        z-index: 3;
        padding: 30px;
    }
    
}



